@charset "utf-8";
@media only screen and (min-width: 0px) and (max-width: 600px) {
    
    footer{
        font-size: 8px;
    }
    header{
        font-size: 40px;
    }
    .login-input{
        width: 80%;
        margin: 0 auto;
    }
    .region{
	width:90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .photo-bird p{
        font-size: 12px;
    }
    .birdoneimage{
        width: 100%;
    }
    .information{
        width: 100%;
        margin: 10px;
    }
    #but{
        font-size: 15px;
    }
    .login button{
        width: 60%;
    }
    
    .r{
        font-size: 15px;
        width: 60%;
    }
    p.admin-title{
        font-size: 20px;
    }
    p.block-title{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .editBird{
        width: 90%;
    }
    .administration button{
        width: 80%;
        margin: 5px auto;
        font-size: 18px;
    }
    .success button{
        margin: 0 auto;
        width: 85%;
        font-size: 17px;
    }
    #addphoto{
        width: 90%;
    }
    #dowload{
        width: 90%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 1200px) {
    .region{
	width:90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .photo-bird p{
        font-size: 12px;
    }
    .photo-bird-all{
	width:90%;
        margin:3px auto;
    }
    .photo-bird-all p{
	font-size: 12px;
    }
    .administration button{
        font-size: 13px;
    } 
    
}
@media only screen and (min-width: 500px) and (max-width: 850px) {
    .region{
	width:45%;
    }
    .photo-bird-all{
	width:45%;
    }
}
@media only screen and (min-width: 850px) and (max-width: 1200px) {
    .region{
	width:28%;
    }
    .photo-bird p{
        font-size: 12px;
    } 
    .photo-bird-all{
	width:28%;
    }
}
