@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	font-family:'Rubik', sans-serif;
}
a{
	text-decoration:none;
	color:#8cb337;
	border-style:none;
	}
html,body{
	height:100%;
	}
body{
	background: url(../img/background.jpg) no-repeat 60% 0%;
  	background-size: cover;
  	background-attachment: fixed;
	font-size:24px;
	color:#8cb337;
  }
header{
	width: 82%;
	margin: 0 auto;
	text-align:center;
	font-size:45px;
	padding:10px 0;
	background-color: rgba(96, 74, 37, 0.95);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	}
main{
	display:flex;
	width:80%;
	margin:50px auto;
	flex-wrap:wrap;
	justify-content:space-between;
	}
footer {
  	flex: 0 0 auto;
	background-color: rgba(96, 74, 37, 0.95);
	text-align:right;
	font-size:16px;
	width:82%;
	margin:0 auto;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	}
button{
	background-color:#8cb337;
	border-style:none;
	padding:6px;
	border-radius:5px;
	margin-right:15px;
	color:rgba(90, 74, 37, 0.95);
	font-size:20px;
	}	

.success{
	width:100%;
	padding-top:75px;
	padding-bottom:75px;
	background-color: rgba(90, 74, 37, 0.95);
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	}
.succes button{
  margin: 30px 0 25px 0;
  width: 30%;
}
.success p{
    margin-bottom: 20px;
}
.region{
	width:28%;
	padding-top:13px;
	padding-bottom:13px;
	background-color: rgba(90, 74, 37, 0.95);
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	}
.region p{
	width:100%;
	margin-bottom:8px;
	}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.photo-bird{
	width:100%;
	padding:5px 0;
	height:auto;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:3px auto;
	}
.photo-bird:hover{
	background-color:#504021;
	}	
.photo-bird img{
	width:45%;
	border-width:0;
	margin:auto 0;
	}
.photo-bird p{
	width:45%;
	margin: auto 0;
	padding-left:10px;
	font-size:16px;
	text-align:left;
	}
	
.bird{
	width:100%;
	padding-top:15px;
	padding-bottom:13px;
	background-color: rgba(90, 74, 37, 0.95);
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	}
.bird form{
	font-size:20px;
	}
.bird p{
	font-size:30px;
	width:100%;
	text-align:center;
	margin-bottom:20px;
	}
.birdoneimage{
	width:55%;
	}
.birdoneimage img{
	width:100%;
	margin:auto 0;
}

.information{
	width:35%;
	text-align:left;
	}
.information p{
	text-align:left;
	font-size:18px;
	}
.information strong{
	color:#91d300;
	}
.information span{
	padding-left:20px;
	font-size:17px;
	}
strong.name-reg{
	color:#8cb337;
	}
.regionallbirds{
	width:100%;
	padding-top:15px;
	padding-bottom:13px;
	background-color: rgba(90, 74, 37, 0.95);
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	}
.regionallbirds p{
	font-size:30px;
	width:100%;
	text-align:center;
	margin-bottom:20px;
	}
.photo-bird-all{
	width:33%;
	padding:5px 0;
	height:auto;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:3px auto;
	}
.photo-bird-all:hover{
	background-color:#504021;
	}	
.photo-bird-all img{
	width:45%;
	border-width:0;
	margin:auto 0;
	}
.photo-bird-all p{
	width:45%;
	margin: auto 0;
	padding-left:10px;
	font-size:16px;
	text-align:left;
	}
	
	
.login{
	width:100%;
	padding-top:15px;
	padding-bottom:13px;
	background-color: rgba(90, 74, 37, 0.95);
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	}

.login form{
	margin-top:25px;
	font-size:20px;
	}
	
.login-input{
  text-align: left;
  padding-bottom: 0px;
  width: 40%;
  margin: 0 auto;
}
.login-input p{
  margin-bottom: 10px;
}
.login-input input{
  width: 100%;
  height: 25px;
  margin-bottom: 30px;
  border-color: #8cb337;
  border-style: solid;
  background-color: #504021;
  color:#8cb337;
  font-size:18px;
  padding-left:5px;
}
.login button{
  margin: 10px 0 25px 0;
  width: 30%;
}	
.reg{
	font-size:16px;
	}
.login-input-radio{
	width:40%;
	margin:auto auto;
	margin-bottom:10px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	}	
.login-input-radio span{
	margin-left:5px;
	}	
	
label
  {padding:0px 0px 0px 28px;}
 
input[type=radio]
  {display:none;}

input[type=radio] + label
  {background:url("../img/radio.png") no-repeat 0px 0px;}

input[type=radio]:checked + label
  {background:url("../img/checked.png") no-repeat 0px 0px;}
  

.administration{
	width:100%;
	padding-top:15px;
	padding-bottom:13px;
	background-color: rgba(90, 74, 37, 0.95);
	margin-bottom: 10px;
	text-align:center;
	border-radius: 5px;
	}
p.admin-title{
	width:100%;
	font-size:30px;} 
#addphoto{
	width:50%;
	margin:0 auto;}

p.block-title {
	font-size:24px;
	height:30px;
	width:100%;
	text-align:center;
	margin-top:20px;
	margin-bottom:15px;
	}
.file_upload{
    display: block;
    position: relative;
    overflow: hidden;
    font-size:20px;
	padding:0;
	cursor:pointer;
}
.file_upload span{
	font-size:18px;
	}

.file_upload input[type=file]{
    position: fixed;
    top: 0;
    opacity: 0;
	width:0;
	display:none;
}	
#dowload{
	border-radius:5px;
	border-style:solid;
	border-color:#8cb337;
	max-width:320px;
	margin:0 auto;
	max-height: 400px;
}	
#dowload img{
	width:100%;
	margin:0;
	padding:0;}
#uploadphoto
{
	width: 100%;
}
#dow{
	text-align:left;
	}
#dow p{
	width:100%;}
#dow input{
	width:100%;
	height: 25px;
  	border-color: #8cb337;
  	border-style: solid;
  	background-color: #504021;
  	color:#8cb337;
  	font-size:18px;
}
#dow select{
	width:100%;
	height: 25px;
	border:2px;
  	border-color: #8cb337;
  	border-style: solid;
  	background-color: #504021;
  	color:#8cb337;
  	font-size:18px;
}
p.lable{
	font-size:20px;
	margin-top:20px;
	margin-bottom:0px;}
.check-lable{
	font-size:20px;
	}
input[type=checkbox]
  {display:none;}

input[type=checkbox] + label
  {background:url("../img/check.png") no-repeat 0px 0px;}

input[type=checkbox]:checked + label
  {background:url("../img/check-checked.png") no-repeat 0px 0px;}
.saveNew{
	margin-top:20px;
	margin-bottom:20px;}
	
.editBird{
	width:80%;
	font-size:20px;
	margin:0 auto;
	}
.view{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:500px;
	overflow-y:auto;
	}
.search{
	width:100%;
	margin-bottom:30px;}
input[type="search"] {
	-webkit-appearance: textfield;
	width:70%;
	height: 25px;
  	border-color: #8cb337;
  	border-style: solid;
  	background-color: #504021;
  	color:#8cb337;
  	font-size:18px;
}
.box{
	position:absolute;
	opacity:0;}
.administration button{
	width:25%;
	margin-top:30px;
	margin-bottom:20px;}
#redaction, #delete{
	background-color:#504021;
	}

::-webkit-scrollbar-button { 
background-image:url(''); 
background-repat:no-repeat; 
width:6px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:#504021; 
box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color:#8cb337; 
box-shadow:0px 1px 1px #fff inset; 
background-image:url('http://yraaa.ru/_pu/24/59610063.png'); 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:7px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 11px; 
}



